<div class="etg-files-nav">
	<ul class="currentPathFrame">
		<li><input type="text" class="currentReallyPath" /><i class="icon-heart2 projectLove"></i></li>
	</ul>
	<ul class="pluginList">
	</ul>
</div>