<div class="layer">
    <div class="title">
        <span>插件管理</span>
        <span class="close icon-close"></span>
    </div>
    <div class="pluginLayer">
        <ul>
            <li>uglify</li>
            <li>less</li>
            <li>sass</li>
            <li>requirejs</li>
            <li>watch</li>
        </ul>
        <div class="func">
            <ul>
                <li><button>取消</button></li>
                <li><button>保存</button></li>
            </ul>
        </div>
    </div>
</div>