<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Easy to Grunt</title>
  <link href="css/etg.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header class="etg-header">
  <h2>Easy to Grunt<span>v0.1</span></h2>
</header>
<main>
  <nav class="etg-nav">
    <div>
      <ul class="etg-nav-list">
        <li><span class="icon-plus addProjectBtn"></span></li>
        <li><span class="icon-cogs"></span></li>
      </ul>
    </div>
   <%- include module/project %>
  </nav>
  <div class="etg-files-list">
    <%- include module/address %>
    <%- include module/drives %>
    <%- include module/files %>
  </div>
</main>

<script src="js/lib/require.js" data-main="js/main.js"></script>
</body>
</html>