.pluginLayer{
  .posr; height: 75vh; bottom:35px; top:0;
  .func {
    .posa; bottom:20px; left:50%; margin-left:-155px;
    ul {
      li {
        .fl;
        button {
          width:150px; padding:10px 7px; margin-left:5px; border:1px solid #ccc; background: #fff;
          border-radius: 3px; font-size: 14px; .yahei;
        }
      }
    }
  }
}
